@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

/* SignIn */

#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form {
  width: 80%;
  padding-bottom: 3rem;
}

#signin .logo {
  margin-bottom: 8vh;
}

#signin .logo img {
  width: 300px;
}

#main-footer {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #ccc;
  font-size: 0.8rem;
  padding-top: 1rem;
}

#main-footer a {
  text-decoration: none;
  // color: #ff7b39;
  color: #0081cf;
}
/* Media Queries */
@media (max-width: 768px) {
  #right {
    display: none;
  }
}

// /* Logo */
// .header__logo {
//   position: absolute;
//   top: 0.3rem;
//   left: 3%;
//   z-index: 2;
//   font-size: 30px;

//   &-icon {
//     position: relative;
//     margin-top: 8px;
//     margin-left: 40px;
//   }
// }
// .logo__arrow {
//   animation: rotating 4s linear infinite;
//   transform-origin: 50% 50%;
// }

// @keyframes rotating {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
